<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ingreso</servlet-name>
        <servlet-class>servlets.ingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarnotas</servlet-name>
        <servlet-class>servlets.consultarnotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notastabla</servlet-name>
        <servlet-class>servlets.notastabla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarnotas</servlet-name>
        <servlet-class>servlets.registrarnotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarnotas</servlet-name>
        <servlet-class>servlets.guardarnotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Personalinf</servlet-name>
        <servlet-class>servlets.Personalinf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearusuario</servlet-name>
        <servlet-class>servlets.crearusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>publicar</servlet-name>
        <servlet-class>servlets.publicar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearestudiante</servlet-name>
        <servlet-class>servlets.crearestudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprobarcodigos</servlet-name>
        <servlet-class>servlets.comprobarcodigos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Matriculas</servlet-name>
        <servlet-class>servlets.Matriculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lista</servlet-name>
        <servlet-class>servlets.Lista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>elimina</servlet-name>
        <servlet-class>servlets.elimina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ingreso</servlet-name>
        <url-pattern>/ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarnotas</servlet-name>
        <url-pattern>/consultarnotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notastabla</servlet-name>
        <url-pattern>/notastabla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarnotas</servlet-name>
        <url-pattern>/registrarnotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarnotas</servlet-name>
        <url-pattern>/guardarnotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Personalinf</servlet-name>
        <url-pattern>/Personalinf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearusuario</servlet-name>
        <url-pattern>/crearusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>publicar</servlet-name>
        <url-pattern>/publicar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearestudiante</servlet-name>
        <url-pattern>/crearestudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprobarcodigos</servlet-name>
        <url-pattern>/comprobarcodigos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Matriculas</servlet-name>
        <url-pattern>/Matriculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lista</servlet-name>
        <url-pattern>/Lista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>elimina</servlet-name>
        <url-pattern>/elimina</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
